<div class="container mt-5">
  <h2 class="text-center">{{ category?.name }}</h2>
  <div class="row">
    <div class="col-12" *ngIf="category">
      <h3>Jugadores</h3>
      <div class="d-flex flex-wrap justify-content-start">
        <div *ngFor="let player of category.players" class="card m-2" style="width: 10rem;">
          <img [src]="player.image" class="card-img-top" alt="{{ player.name }}">
          <div class="card-body text-center">
            <h5 class="card-title">{{ player.number }}. {{ player.name }}</h5>
            <p class="card-text">{{ player.position }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
