.carousel-item {
    text-align: center;
  }
  
  .card {
    position: relative;
    width: 100%;
    max-width: 600px;  /* Hacer la tarjeta más pequeña */
    margin: 0 auto;
    border: none;
    border-radius: 10px;
    overflow: hidden;
  }
  
  .card-img {
    width: 100%;
    max-height: 300px;  /* Limitar la altura de la imagen */
    object-fit: cover;
  }
  
  .card-img-overlay {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 20px;
    background: rgba(0, 0, 0, 0.5);
  }
  
  .card-body {
    color: white;
  }
  
  .card-category {
    font-size: 1rem;
    color: #F5E009;
  }
  
  .card-title {
    font-size: 1.2rem;
    margin: 5px 0;
  }
  
  .card-date {
    font-size: 0.9rem;
    margin: 5px 0;
  }
  #newsCarousel{
    margin-bottom: 1%;
  }