<div id="newsCarousel" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div *ngFor="let news of displayedNews; let i = index" [ngClass]="{'carousel-item': true, 'active': i === 0}">
      <div class="card">
        <div class="card-img-overlay d-flex align-items-end">
          <div class="card-body text-white">
            <h5 class="card-category">{{news.description}}</h5>
            <h3 class="card-title">{{news.title}}</h3>
          </div>
        </div>
        <img [src]="news.imageUrl" class="card-img" alt="...">
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#newsCarousel" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#newsCarousel" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>