<div class="carousel-container">
  <div id="newsCarousel" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div *ngFor="let news of displayedNews; let i = index" [ngClass]="{'carousel-item': true, 'active': i === 0}">
        <div class="card">
          <img src="{{news.imageUrl}}" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">{{news.title}}</h5>
            <p class="card-text">{{news.description}}</p>
            <p class="card-text"><small class="text-muted">{{news.date}}</small></p>
          </div>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#newsCarousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#newsCarousel" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>