<section class="hero-section">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-4 text-center text-lg-left">
        <img src="assets/logo.png" width="142" height="210" alt="Logo del Club" class="img-fluid">
      </div>
      <div class="col-lg-8 text-center text-lg-left">
        <h1 class="hero-heading">
          ACADEMIA DE FÚTBOL<mark class="highlight">LEONES</mark><br>
          DEL VALLE
        </h1>
        <i class="legend"> <b>Donde el fútbol se convierte en grandeza</b></i>
      </div>
    </div>
  </div>
  <br>
  <br>
</section>
<section class="wave-container">
  <svg class="waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 24 150 28"
    preserveAspectRatio="none" shape-rendering="auto">
    <defs>
      <path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" />
    </defs>
    <g class="parallax">
      <use xlink:href="#gentle-wave" x="48" y="0" fill="rgba(255,255,255,0.7" />
      <use xlink:href="#gentle-wave" x="48" y="3" fill="rgba(255,255,255,0.5)" />
      <use xlink:href="#gentle-wave" x="48" y="5" fill="rgba(255,255,255,0.3)" />
      <use xlink:href="#gentle-wave" x="48" y="7" fill="#fff" />
    </g>
  </svg>
  <div class="content">
    <app-news [numNews]="3"></app-news>
  </div>
</section>