
/*INDEX*/
/*COVER*/
.hero-section {
    background-image: url('/assets/index/equipo.jpg');
    background-size: cover;
    background-position: center;
    padding: 100px 0;
    color: #FFFFFF;
  
  }
  
  .hero-heading {
    font-size: 3rem;
    font-weight: bold;
  }
  
  .highlight {
    background-color: transparent;
    color: #F5E009;
    /* Azul oscuro */
  }
  
  /*INDEX IMPORTANT NEWS*/

  .wave-container {
    position: relative;
    width: 100%;
    height: 100vh;
    /*background: url('/assets/index/cesped.jpg') center/cover no-repeat;*/
       background: #0b3873;

  }
  
  .waves {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 20vh;
    min-height: 100px;
    max-height: 150px;
  }
  
  .parallax > use {
    animation: move-forever 25s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
  }
  .parallax > use:nth-child(1) {
    animation-delay: -2s;
    animation-duration: 7s;
  }
  .parallax > use:nth-child(2) {
    animation-delay: -3s;
    animation-duration: 10s;
  }
  .parallax > use:nth-child(3) {
    animation-delay: -4s;
    animation-duration: 13s;
  }
  .parallax > use:nth-child(4) {
    animation-delay: -5s;
    animation-duration: 20s;
  }
  
  @keyframes move-forever {
    0% {
      transform: translate3d(-90px, 0, 0);
    }
    100% {
      transform: translate3d(85px, 0, 0);
    }
  }
  
  .content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: auto;
    max-width: 600px;
  }