/* Video Section */
.video-section {
  position: relative;
  width: 100%;
  height: 100vh; /* Video ocupa el 100% del viewport */
  overflow: hidden;
  cursor: pointer;
}

/* Portada con imagen y mensaje */
.portada {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Filtro oscuro para mejorar la visibilidad del mensaje */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 2;
  text-align: center;
  transition: opacity 0.5s ease-in-out;
}

/* Imagen de la portada */
.portada img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

/* Mensaje de la portada */
.mensaje-portada {
  position: absolute;
  bottom: 5%;
  color: white;
  font-size: 24px;
  font-weight: bold;
  background: rgba(0, 0, 0, 0.6);
  padding: 15px 20px;
  border-radius: 10px;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.8);
}

/* Efecto de desvanecimiento cuando se oculta */
.portada.ng-hide {
  opacity: 0;
  pointer-events: none;
}


/* Imagen de portada */
.portada {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 2;
  cursor: pointer;
  transition: opacity 0.5s ease-in-out;
}

/* Ocultar la imagen cuando el video se inicia */
.portada.ng-hide {
  opacity: 0;
  pointer-events: none;
}


.fullscreen-video {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  object-fit: cover; /* Asegura que el video cubra toda el área */
}

/*INDEX*/
/*COVER*/
.hero-section {
  margin-top:10px;
    background-image: url('/assets/index/portada.jpg');
    background-size: cover;
    background-position: center;
    padding: 100px 0;
    color: #FFFFFF;
  
  }
  
  .hero-heading {
    font-size: 3rem;
    font-weight: bold;
    text-shadow:  2px 2px 4px rgba(0,0,0,0.5);
  }
  .legend{
    text-shadow:  2px 2px 4px rgba(0,0,0,0.5);
  }
  
  .highlight {
    background-color: transparent;
    color: #F5E009;
    /* Azul oscuro */
  }
  
  /*INDEX IMPORTANT NEWS*/

  .wave-container {
    position: relative;
    width: 100%;
    height: 100vh;
    /*background: url('/assets/index/cesped.jpg') center/cover no-repeat;*/
       background: #0b3873;

  }
  
  .waves {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 20vh;
    min-height: 100px;
    max-height: 150px;
  }
  
  .parallax > use {
    animation: move-forever 25s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
  }
  .parallax > use:nth-child(1) {
    animation-delay: -2s;
    animation-duration: 7s;
  }
  .parallax > use:nth-child(2) {
    animation-delay: -3s;
    animation-duration: 10s;
  }
  .parallax > use:nth-child(3) {
    animation-delay: -4s;
    animation-duration: 13s;
  }
  .parallax > use:nth-child(4) {
    animation-delay: -5s;
    animation-duration: 20s;
  }
  
  @keyframes move-forever {
    0% {
      transform: translate3d(-90px, 0, 0);
    }
    100% {
      transform: translate3d(85px, 0, 0);
    }
  }
  
  .content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 100%;
    max-width: 600px;  /* Ancho máximo */
    max-height: 100%;  /* Altura máxima fija */
    overflow: hidden;  /* Asegúrate de que el contenido adicional se recorte */
  }
  