<div class="store-container">
    <div class="filter-sort-container">
      <div class="filter-group">
        <label>Filtrar por:</label>
        <select (change)="onGenreChange($event)">
          <option value="">Género</option>
          <option value="M">Hombre</option>
          <option value="F">Mujer</option>
          <option value="CH">Niños</option>
        </select>
  
        <select (change)="onEquipmentTypeChange($event)">
          <option value="">Equipación</option>
          <option value="Primera Equipación">Primera Equipación</option>
          <option value="Segunda Equipación">Segunda Equipación</option>
          <option value="Arqueros">Arqueros</option>
          <option value="Presentación">Presentación</option>
          <option value="Calentador">Calentador</option>
        </select>
      </div>
  
      <div class="sort-group">
        <label>Ordenar por:</label>
        <select (change)="onSortChange($event)">
          <option value="relevance">Relevancia</option>
          <option value="sales">Más Vendidos</option>
          <option value="alphabetical">Alfabéticamente</option>
          <option value="priceLowHigh">Precio: Bajo a Alto</option>
          <option value="priceHighLow">Precio: Alto a Bajo</option>
          <option value="dateAdded">Fecha Añadido</option>
        </select>
      </div>
    </div>
  
    <div class="product-grid">
      <div class="product-card" *ngFor="let product of filteredProducts">
        <div class="image-container">
        <img [src]="product.imageUrl" [alt]="product.name">
      </div>
        <h3>{{ product.name }}</h3>
        <p>{{ product.price | currency }}</p>
        <div class="size-options">
          <span *ngFor="let size of product.sizeOptions">{{ size }}</span>
        </div>
        <p class="product-description">{{ product.description }}</p>
      </div>
    </div>
  </div>
  