<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">
        <img src="assets/logo.png" width="30" height="30" class="d-inline-block align-top" alt="Logo">
        Academia de Fútbol Leones del Valle
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" routerLink="/">Inicio</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/sobre-nosotros">Sobre Nosotros</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/tienda">Tienda</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/contactanos">Contáctanos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/galeria">Galería</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/trofeos">Trofeos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/equipos">Equipos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/noticias">Noticias</a>
            </li>
        </ul>
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="#"><i class="bi bi-facebook"></i></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#"><i class="bi bi-twitter"></i></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#"><i class="bi bi-instagram"></i></a>
            </li>
            <!--
        <li class="nav-item">
          <a class="nav-link" href="#"><img src="assets/sponsor1.png" width="30" height="30" alt="Patrocinador 1"></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"><img src="assets/sponsor2.png" width="30" height="30" alt="Patrocinador 2"></a>
        </li>
        -->
        </ul>
    </div>
</nav>